# Python
.venv/
__pycache__/
*.pyc
*.sqlite3

# Django
.env*
!.env.production
!.env.development
media/

# Node
node_modules/
dist/
.vite/
vite.err
vite.log
test-results/
playwright-report/

# OS
.DS_Store
Thumbs.db
